<% layout("/layouts/boilerplate.ejs") %>
<body>


    <h1><%= listing.title %></h1>


    <div class="card mb-3">
        <img src="<%= listing.image %>" class="card-img-top show-image" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text"><b>Price:</b> ₹ <%= listing.price.toLocaleString("en-IN") %></p>
            <p class="card-text"><small class="text-body-secondary"><%= listing.location %>, <b><%= listing.country %></b></small></p>
        </div>
    </div>
    <div class="edit-del">
        <form method="get" action="/listings/<%= listing._id %>/edit">
        <button class="btn btn-dark">Edit</button>
    </form>

    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark" id="del">Delete</button>
    </form>
    </div>
    
</body>
